body {
  background: #FFE1E1;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #90A17D;
  flex-wrap: wrap;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.showText__button {
  background: none;
  color: blue;
  padding: none;
}

button {
  background: #90A17D;
  padding: 10px;
  width: 100px;
  border: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product_card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  text-align: center;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

label, input, textarea {
  margin-bottom: 15px;
}

input {
  padding: 7px;
}

textarea {
  padding: 35px;
}